/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.cshrc
/.dotnet
/.history
/.ipython
/.local
/.login
/.logout
/.python_history
/.ssh
/.vscode
/.vscode-server
/.wget-hsts
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/mdata_rpeaks
/venv
/mdata