/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.cshrc
/.dotnet
/.history
/.ipython
/.local
/.login
/.logout
/.python_history
/.ssh
/.vscode
/.vscode-server
/.wget-hsts
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/mdata_rpeaks
/venv
/mdata
.gitconfig
vg_graph_metrics/plot_example.py
.gitignore
vg_graph_metrics/testing.ipynb
vg_graph_metrics/Priorisierung_LZEKG_Export_TU_Darmstadt.xlsx
vg_graph_metrics/__pycache__/read_data.cpython-311.pyc
vg_graph_metrics/__pycache__/vg_metric.cpython-311.pyc
